*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Comfortaa', cursive;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.title-mini{
    font-size: 20px;
    color: white;
    width: 50%;
    padding-left: 30px;    
}

.nav{
    display: flex;
    align-items: center;
    background-color: transparent;
    width: auto;
    padding-top: 15px;
    position: relative;
}

.selection{
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.selection:hover{
    background-color: white;
    color: black;

}

.btn-add{
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
    outline: none;
    border: none;
    transition: all ease-in-out 0.1s;
}

.btn-add:hover{
    background-color: white;
    color: black;
}

.tool-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 10px;
    background: gray;
    border-radius: 5px;
    right: 2%;
    top: 20%;
    z-index: 0;
}

.tool{
    margin-bottom: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    z-index: 0;
    position: relative;
}

.tool:last-child{
    margin-bottom: 0px;
}

.icon-tool{
    background-color: transparent;
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(104%) contrast(101%);
    transition: all linear 0.1s;
    cursor: pointer;
    z-index: 0;
}

.icon-tool:hover{
    opacity: 50%;
}

.icon-tool.active{
    filter: invert(86%) sepia(31%) saturate(912%) hue-rotate(328deg) brightness(101%) contrast(99%);
}

.tool-tip {
    position: absolute;
    top: 23%;
    right: 2%;
    transform: translateX(-62%);
    text-align: center;
    background-color: white;
    width: 80px;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
    visibility: hidden;
}

.tool-tip.geometry{
    right: 5%;
}

.geometry-option{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 35%;
    right: 4%;
    transform: translateX(-43%) translateY(1px);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
}

.geometry-option.active{
    opacity: 1;
    visibility: visible;    
    transition: all ease-in-out 0.2s;

}

.option{
    position: relative;
    background-color: transparent;
}

.icon-geometry{
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all linear 0.1s;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(104%) contrast(101%);


}

.icon-geometry:hover{
    opacity: 0.6;
}

.icon-geometry.active{
    filter: invert(86%) sepia(31%) saturate(912%) hue-rotate(328deg) brightness(101%) contrast(99%);
}

.icon-geometry[name='wheel']{
    margin-bottom: 0;
    margin-top: 1px;
}
