*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Comfortaa', cursive;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root{
    --light-intensity: rgba(128,128,128,0.5);
    --border-light: 0.75rem;
}

.title-mini{
    font-size: 20px;
    color: white;
    width: 55%;
    padding-left: 30px;
    font-family: "Comfortaa", "Inter";
}

.nav{
    display: flex;
    align-items: center;
    background-color: transparent;
    width: auto;
    padding-top: 15px;
    position: relative;
}

.selection{
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.selection:hover{
    background-color: white;
    color: black;

}

.btn-add{
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
    outline: none;
    border: none;
    transition: all ease-in-out 0.1s;
}

.btn-add:hover{
    background-color: white;
    color: black;
}

.tool-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 10px;
    background: gray;
    border-radius: 5px;
    right: 2%;
    top: 20%;
    z-index: 0;
}

.tool{
    margin-bottom: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    z-index: 0;
    position: relative;
}

.tool:last-child{
    margin-bottom: 0px;
}

.icon-tool{
    background-color: transparent;
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(104%) contrast(101%);
    transition: all linear 0.1s;
    cursor: pointer;
    z-index: 0;
}

.icon-tool:hover{
    opacity: 50%;
}

.icon-tool.active{
    filter: invert(86%) sepia(31%) saturate(912%) hue-rotate(328deg) brightness(101%) contrast(99%);
}

.tool-tip {
    position: absolute;
    top: 23%;
    right: 2%;
    transform: translateX(-62%);
    text-align: center;
    background-color: white;
    width: 80px;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
    visibility: hidden;
    font-family: 'Inter';
}

.tool-tip.geometry, .tool-tip.material{
    right: 5%;
}

.tool-tip.light,.tool-tip.camera{
    right: 3%;
    width: 125px;
    transform: translateX(-64%);

}

.subtool{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 5px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.311);
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    right: 4%;
    transform: translateX(-43%) translateY(1px);
}

.subtool.geometry-option{
    top: 35%;
}

.subtool.material-option{
    top: 44%;
}

.subtool.light-option{
    top: 20%;
}

.subtool.camera-option{
    top:59%;
    right: 4%;
    transform: translateX(-39%) translateY(1px);
}

.subtool.animation-option{
    top: 50%;
    right: 1%;
    transform: translateX(-38%) translateY(4px);

}

[class$='-option active']{
    opacity: 1;
    visibility: visible;    
    transition: all ease-in-out 0.2s;
}

[class$='-option']>.option{
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.option{
    position: relative;
    background-color: transparent;
}

.animation-option .option{
    color: white;
    margin: 8px;
    font-family: 'Comfortaa','Inter';
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.animation-option .option.active{
    color : #FEC869;
}

.animation-option .option:hover{
    opacity: 0.6;
}

.sub-icon{
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all linear 0.1s;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(104%) contrast(101%);
}

.sub-icon:hover{
    opacity: 0.6;
}

.sub-icon.active{
    filter: invert(86%) sepia(31%) saturate(912%) hue-rotate(328deg) brightness(101%) contrast(99%);
}

.sub-icon[name='torus']{
    margin-bottom: 4px;
}

.sub-icon[name='teapot']{
    margin-bottom: 0px;
}

.sub-icon.not-active{
    cursor:not-allowed;
    opacity: 0.3;
}


.sub-icon.light{
    margin: 10px 0;
}

.sub-icon[name = 'color']{
    width: 20px;
    height: 20px;
}

.sub-icon[name='translate light']{
    margin-bottom: 0px;
}

.sub-icon[name='field of view']{
    width: 30px;
    height: 30px;
}

.wrapper{
	position: absolute;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateX(-2px);
    border-radius: var(--border-light);
    background-color: var(--light-intensity);
    visibility: hidden;
}

.wrapper.active{
    opacity: 1;
    visibility: visible;
}

.wrapper.intensity{
    top: 32%;
    right: 8%;
}

.wrapper.camera{
    top: 56%;
    right: 9%;
    transform: translateX(15px)
}

.wrapper.camera .slidecontainer{
    height: 11rem;
    width: 2.5rem;
}

.wrapper.camera input{
    width: 11rem;
    height: 2.5rem;
}

.slidecontainer {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    position: relative;
    height: 12rem;
    width: 2.5rem;
  
    &::before,
    &::after {
      display: block;
      position: absolute;
      z-index: 99;
      color: #fff;
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1;
      padding: .75rem 0;
      pointer-events: none;
    }
  
    &::before {
      content: "+";
    }
  
    &::after {
      content: "-";
      bottom: 0;
    }
}
  
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--light-intensity);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: 12rem;
    height: 2.5rem;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: var(--border-light);
    overflow: hidden;
    cursor: row-resize;

    &[step]{
        background-color: transparent;
        background-image: repeating-linear-gradient(to right, var(--light-intensity), var(--light-intensity) calc(12.5% - 1px), black 12.5%);
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        box-shadow: -20rem 0 0 20rem var(--light-intensity);
    }

    &::-moz-range-thumb {
        border: none;
        width: 0;
        box-shadow: -20rem 0 0 20rem var(--light-intensity);
    }
}
  

.slide-value{
    position: absolute;
    top: 45%;
    color: white;
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: default;
    font-size: 13px;
    font-family: 'Comfortaa','Inter';
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    z-index: 0;
    pointer-events: none;
    transition: all 1s linear;
}
